span{
    color:rgb(40, 33, 33);
}
body{
    background-color:rgb(246, 142, 201);
    font-family:Verdana, Tahoma, sans-serif;
    margin: 20px;
}
p{
    font-family:fantasy;
}
.blue{
    color:rgb(2, 2, 38);
}
.green{
    color: rgb(8, 57, 15);
}
#bigger{
    font-size:25px;
}
#center{
    text-align:center;
}